@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title h1 {
  font-size: 4vw;
  margin: 1vw 0 0;
  color: #d40000;
}

.title p {
  font-size: 2vw;
  margin: 0 0 1vw;
}

.canvas {
  display: flex;
  justify-content: center;
  font-size: 0%;
}

.column {
}

.board-position {
  /* margin-bottom: -0.3vh; */
}

.board-piece {
  max-width: 12vw;
  max-height: 12vh;
}

.playing-piece {
  position: absolute;
  max-width: 12vw;
  max-height: 12vh;
  transform: translate(-100%);
}
